@charset "UTF-8";

.header{
    clear:both;
    overflow: hidden;
    width: 100%;
}
.header-top{
    position: relative;
    top: 0;
    left:0;
    height:120px;
}
.layout{
    margin: 0 auto;
    width: 1200px;
}
.logo{
    margin-top: 20px;
    width: 147px;
}
/*search top*/
.search-top{
    position: absolute;
    left:300px;
    margin-top:30px;
}
.search-top .input-wrap{
    display: inline;
    float: left;
    overflow: hidden;
    border: 2px solid #000;
}
.search-top .input-wrap .search-input{
    width: 502px;
    height: 30px;
    background: #fff;
}
.search-top .btn-search-top{
    overflow: hidden;
    width: 67px;
    height: 38px;
    color: #fff;
    border: none;
    background: #000;
}
.hot-key{
    margin-top: 10px;
}
.hot-key a{
    margin-right: 5px;
}
/*cart Button*/
.cartButton{
    display: inline;
    float: right;
    margin-top: 30px;
    padding: 0  24px 0 0;
    border-radius: 5px;
    background: #434343;
    cursor: pointer;
    color:#fff;
}
.cartButton i{
    display: inline-block;
    *zoom:1;
    _display:inline;
    vertical-align: middle;
    margin-right: 15px;
    width: 46px;
    height: 42px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background:#363636 url("../images/ico.png") no-repeat 7px 5px;
}

/*nav*/
.nav{ clear: both; width: 100%; height: 57px; line-height: 57px; background: #23261f;}
.nav a{ display: inline; float: left; margin-right: 2px; width: 120px; height: 57px; text-align: center; color: #fff; font-size: 17px;}
.nav a:hover,.nav .active{
    background: #8332c5;
}

/*container-top*/
.container-top{
    clear: both;
    margin-top: 10px;
    overflow: hidden;
    width: 100%;
}
.container-top .category{
    display: inline;
    float: left;
    width: 241px;
    height:429px;
    background: #6923a2;
    color: #fff;
}
.category .title{
    margin-bottom: 10px;
    height: 48px;
    line-height: 48px;
    background: #591a8d;
    text-align: center;
}
.category-title{
    clear: both;
    padding:10px;
    font-size: 14px;
    color: #fff;
}
.category-list{
    padding: 0 10px;
}
.category-list li{
    display: inline;
    float: left;
    margin: 0 10px 10px 0;
    font-size: 12px;
    color: #c69aea;
}
.category-list li a{
    color: #c69aea;
}
.category-list li a:hover{
    color: #fff;
}
.slider-ad{
    float: right;
    overflow: hidden;
    width: 946px;
    height: 429px;
}
.container-ad{
    clear: both;
    overflow: hidden;
    margin-top: 10px;
}
.container-ad .ad-list{
    display: inline;
    float: left;
    margin-right: 13px;
}
.container-ad .recommented{
    width: 241px;
    height: 167px;
    background: #8332c5;
    text-align: center;
    line-height: 1.8em;
}
.container-ad .recommented span{
    margin-top: 45px;
    zoom: 1;
    display: inline-block;
    *display:inline;
    vertical-align: middle;
    color: #fff;
}
.container-ad .recommented a{
    color: #fff;
}
.container-ad .last{
    margin-right: 0;
}
/**/
.buy-info{
    clear: both;
    overflow: hidden;
    margin-top: 10px;
    padding: 40px 0;
    background: #eee;
}
.buy-info-item{
    display: inline;
    float: left;
    margin: 0 10px;
    width: 220px;
}
.buy-info-item .info-item-des{
    overflow: hidden;
    padding: 10px 0 0 10px;
}
.info-item-des strong{
    margin-bottom: 5px;
    font-size: 14px;
    color: #000;
}
.info-item-des span{
    font-size: 12px;
    color: #666;
}
.info-item-des strong,.info-item-des span{
    display: block;
}

.row-title{
    clear: both;
    margin: 20px 0 0;
    padding:0 0 10px;
    border-bottom:1px solid #ddd;
    font-size: 20px;
    color: #666;
}
.row-wrap{
    overflow: hidden;
    padding: 20px 0;
}
.row-wrap .row-big-pic{
    display:inline;
    float: left;
}
.row-other-pro{
    overflow: hidden;
    padding-left: 15px;
    height: 345px;
}
.row-other-pro li{
    display: inline;
    float: left;
    width: 229px;
    height: 172px;
    border-right:1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.row-other-pro .pro-name{
    display: block;
    padding:10px;
}
.row-other-pro .pro-pic{
    display: block;
    text-align: right;
}

.tabcon{
    clear: both;
    overflow: hidden;
}
.tabcon .tab{
    clear: both;
    overflow: hidden;
    margin-top: 20px;
}
.tabcon .tab .more{
    float: right;
    padding: 18px 0 0;
    color: #666;
}
.tabcon .tab span{
    display: inline;
    float: left;
    margin-right: 20px;
    width: 160px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #eee;
    cursor: pointer;
}
.tabcon .tab .active{
    font-size: 14px;
    color: #fff;
    background: #680aba;
}
.tabcon .tab span:hover{
    font-size: 14px;
    color: #fff;
    background: #680aba;
}
.tab-con{
    display: none;
}
.tab-con li{
    display: inline;
    float: left;
    margin-right: 40px;
    width: 208px;
    text-align: center;
    line-height: 1.8em;
}
.tab-con .last{
    margin-right: 0;
}
.tab-con li span{
    display: block;
}
.tab-con button{
    border: none;
    cursor: pointer;
}